<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="images/manderserlogo.png">
    <!-- <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <link rel="stylesheet" href="index.css">
    <title>Billie Eilish</title>
   </head>
   <body>
    <nav>
        <ul>
            <img align="left" src="https://logolook.net/wp-content/uploads/2021/08/Billie-Eilish-Logo.png" width="140">
            <li><a href="/">Account</a></li>
            <li><a href="/shop">Shop</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
        <a  style="color: white;text-decoration:none" onclick="prompt('Enter code')" href="https://open.spotify.com/album/1YPWxMpQEC8kcOuefgXbhj?si=1f3IJM5MTuqcQP9kEsGFKw"><h1  align="center"   </a>~New Album~</h1></a>
            <div style="text-align:center;margin-top:40px;;margin-bottom: 40px;"><img  src="https://cache.umusic.com/_sites/_halo/billieeilish/images/32x14-guitarsongs.jpg" alt="jpg" width="1000" ></div>
        <a style="color: white;text-decoration:none" href="https://youtu.be/6nM1lwBB9lY">
            <h2 align="center" ><b>~Podcast~</b></h2>
            <div style="text-align:center ;margin-top: 40px;margin-bottom: 40px;"><iframe width="860" height="500" src="https://www.youtube.com/embed/aFKW9UdWmy4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
        <a style="color: white;text-decoration:none" href="https://open.spotify.com/album/0JGOiO34nwfUdDrD612dOp?si=O53k8DjmRKWXkDesCYEquw">
            <h2  align="center"><b>~Listen This Album~</b></h2></a>
            <div style="text-align:center;margin-top:40px;;margin-bottom: 40px;"><img  src="https://www.billieeilish.com/sites/g/files/aaj13131/f/styles/suzuki_breakpoints_image_mobile-lg_sq/public/release/202104/BE-HTE-Title-Cover.jpg?itok=-Rcon1ai" alt="jpg" width="500" ></div>
        <a style="color: white;text-decoration:none" href="https://www.billieeilish.com/tour"><div style="text-align:center;margin-top:40px;;margin-bottom: 40px;"><img src="https://cache.umusic.com/_sites/_halo/billieeilish/images/tour-name.png" alt="png" width="700"></div>
        <a href="/parfume"><div style="text-align:center;margin-top:40px;;margin-bottom: 40px;"> <img src="https://cache.umusic.com/_sites/_halo/billieeilish/images/BE_web_banners_2480x520.jpg" alt="jpg" width="1100"></div>

            <div style="text-align:center;margin-top: 20px;margin-bottom: 20px;">
        <a style="text-decoration:none" href="https://www.instagram.com/billieeilish/">
            <img  src="https://cdn.icon-icons.com/icons2/2066/PNG/512/instagram_icon_125245.png"  width="20" height="20" alt="Instagram" border="none">
        </a><nbsp></nbsp>
        <a  style="text-decoration:none"href="https://twitter.com/billieeilish?s=20">
            <img  src="https://cdn.icon-icons.com/icons2/2428/PNG/512/twitter_black_logo_icon_147062.png"  width="20" height="20" alt="Instagram" border="none"></div></a>
        <footer>
            <div align="center";font-family:Trebuchet;>&copy; 2022 Billie Eilish</div>
        </footer>
    </body>
</html>