<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Login</h1>
    <h3>Masukan email dan kata sandi anda.</h3>
    <form action="/">
        <input type="text" name="usr" placeholder="Masukan Username">
        <input type="text" name="eml" placeholder="Masukan Email Sekolah">
        <input type="password" name="pw" placeholder="Masukan Password Anda Dengan Benar">
        <button>Submit</button>
    </form>
</body>
</html>